In [1]:
import pandas as pd

rating_data = pd.read_csv('./datas/ratings.csv')
movie_data = pd.read_csv('./datas/movies.csv')

In [170]:
print(movie_data["title"][1])

Jumanji (1995)

In [2]:
rating_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
movie_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
print(rating_data.shape)
print(movie_data.shape)

(100004, 4)
(9125, 3)

In [5]:
rating_data.drop('timestamp', axis=1, inplace=True)
rating_data.head(2)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0

In [10]:
user_movie_rating = pd.merge(rating_data, movie_data, on="movieId")
user_movie_rating.head(2)

   userId  movieId  rating                   title genres
0       1       31     2.5  Dangerous Minds (1995)  Drama
1       7       31     3.0  Dangerous Minds (1995)  Drama

In [20]:
movie_user_data = user_movie_rating.pivot_table('rating', index="title", columns="userId").fillna(0)
movie_user_data.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Neath the Arizona Skies (1934),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
user_movie_data = user_movie_rating.pivot_table('rating', index="userId", columns="movieId").fillna(0)
user_movie_data.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
from sklearn.metrics.pairwise import cosine_similarity
item_base_collabor = cosine_similarity(movie_user_data)
item_base_collabor

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.05821787, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.05821787, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [22]:
item_base_collabor = pd.DataFrame(data=item_base_collabor, index=movie_user_data.index, columns=movie_user_data.index)
item_base_collabor.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",1.000000,0.0,0.0,0.164399,0.020391,0.0,0.014046,0.000000,0.0,0.003166,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
$9.99 (2008),0.000000,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.079474,0.0,0.156330,...,0.0,0.0,0.0,0.000000,0.0,0.013899,0.0,0.058218,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.000000,0.0,1.0,0.000000,0.000000,1.0,0.000000,0.217357,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
'Neath the Arizona Skies (1934),0.164399,0.0,0.0,1.000000,0.124035,0.0,0.085436,0.000000,0.0,0.019259,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
'Round Midnight (1986),0.020391,0.0,0.0,0.124035,1.000000,0.0,0.010597,0.143786,0.0,0.136163,...,0.0,0.0,0.0,0.121567,0.0,0.000000,0.0,0.000000,0.0,0.0

In [25]:
def get_item_based_colabor(title):
    return item_base_collabor[title].sort_values(ascending=False)[:6]

In [188]:
type(get_item_based_colabor('"Great Performances" Cats (1998)'))

pandas.core.series.Series

In [156]:
import numpy as np
import random as rand
test_user = np.zeros((9125, ))
for i in range(5):
    for j in range(30):
        test_user[rand.randrange(0, 9124)] = i + 1

In [195]:
def get_user_based_colabor(user_data):
    datas = list(map(lambda x, y: (x, y), range(len(user_data)), user_data))
    datas.sort(key=lambda e: -e[1])
    print(datas[0])
    result = []
    for data in datas:
        if int(data[1]) < 4: continue
        raw = get_item_based_colabor(movie_data["title"][data[0]])[1:6]
        result += list(list(zip(raw,raw.index)))
    result.sort(key=lambda e: -e[0])
    return result

In [196]:
get_user_based_colabor(test_user)

(476, 5.0)

[(1.0, 'Grass Is Greener, The (1960)'),
 (1.0, 'Hour of the Pig, The (1993)'),
 (1.0, "Diary of a Chambermaid (Journal d'une femme de chambre, Le) (1964)"),
 (1.0, 'Experts, The (1989)'),
 (1.0, 'Seventh Heaven (Septième ciel, Le) (1997)'),
 (1.0, 'Ballad of Narayama, The (Narayama Bushiko) (1958)'),
 (1.0, 'Death in the Garden (Mort en ce jardin, La) (1956)'),
 (1.0, 'Afterglow (1997)'),
 (1.0, 'Paris, France (1993)'),
 (1.0, 'Ciao, Professore! (Io speriamo che me la cavo) (1992)'),
 (1.0, 'Quatermass 2 (Enemy from Space) (1957)'),
 (1.0, 'Female Perversions (1996)'),
 (1.0, 'Trial and Error (1997)'),
 (1.0, 'Thomas and the Magic Railroad (2000)'),
 (1.0, 'Little Nemo: Adventures in Slumberland (1992)'),
 (1.0, 'Centurion (2010)'),
 (1.0, 'Bloody Child, The (1996)'),
 (1.0, 'The Mating Habits of the Earthbound Human (1999)'),
 (1.0, 'Impostor (2002)'),
 (1.0, 'Shakiest Gun in the West, The (1968)'),
 (1.0, 'Evil Under the Sun (1982)'),
 (1.0, 'Behind the Mask: The Rise of Leslie Vernon (2006)'),
 (1.0, 'Anna and the King of Siam (1946)'),
 (1.0, 'The Tall Blond Man with One Black Shoe (1972)'),
 (1.0, 'Shiver (Eskalofrío) (2008)'),
 (1.0, "Flesh for Frankenstein (a.k.a. Andy Warhol's Frankenstein) (1973)"),
 (1.0, 'The Boy (2016)'),
 (1.0, 'Dylan Moran Live: What It Is (2009)'),
 (1.0, 'The Borderlands (2013)'),
 (1.0, 'Tomb of Ligeia, The (1965)'),
 (1.0, 'Street Fight (2005)'),
 (1.0, 'Men, The (1950)'),
 (1.0, 'Deep Water (2006)'),
 (1.0, 'Animals are Beautiful People (1974)'),
 (1.0, 'Wings of Hope (Julianes Sturz in den Dschungel) (2000)'),
 (1.0, 'John Tucker Must Die (2006)'),
 (1.0, 'New York Minute (2004)'),
 (1.0, 'Lizzie McGuire Movie, The (2003)'),
 (1.0, 'Post Grad (2009)'),
 (1.0, 'Life as We Know It (2010)'),
 (1.0, "It's a Very Merry Muppet Christmas Movie (2002)"),
 (1.0, "Winter's Tale (2014)"),
 (1.0, 'To Rome with Love (2012)'),
 (1.0, 'Conception (2011)'),
 (1.0, 'I Am Wrath (2016)'),
 (1.0, "Illusionist, The (L'illusionniste) (2010)"),
 (1.0, 'Linda Linda Linda (2005)'),
 (1.0, 'Orphan (2009)'),
 (1.0, 'Art of Negative Thinking, The (Kunsten å tenke negativt) (2006)'),
 (1.0, 'Class, The (Klass) (2007)'),
 (1.0, 'Forsyte Saga, The (1967)'),
 (1.0, 'Far from the Madding Crowd (1967)'),
 (1.0, 'Life Itself (2014)'),
 (1.0, 'Thousand Clowns, A (1965)'),
 (1.0, 'Life Is Sweet (1990)'),
 (1.0, 'Quatermass 2 (Enemy from Space) (1957)'),
 (1.0, 'Female Perversions (1996)'),
 (1.0, 'Trial and Error (1997)'),
 (1.0, 'Thomas and the Magic Railroad (2000)'),
 (1.0, 'Little Nemo: Adventures in Slumberland (1992)'),
 (1.0, 'Forsyte Saga, The (1967)'),
 (1.0, 'Far from the Madding Crowd (1967)'),
 (1.0, 'Life Itself (2014)'),
 (1.0, 'Thousand Clowns, A (1965)'),
 (1.0, 'Life Is Sweet (1990)'),
 (1.0, "Flesh for Frankenstein (a.k.a. Andy Warhol's Frankenstein) (1973)"),
 (1.0, 'The Boy (2016)'),
 (1.0, 'Dylan Moran Live: What It Is (2009)'),
 (1.0, 'The Borderlands (2013)'),
 (1.0, 'Tomb of Ligeia, The (1965)'),
 (1.0, "It's a Very Merry Muppet Christmas Movie (2002)"),
 (1.0, "Winter's Tale (2014)"),
 (1.0, 'To Rome with Love (2012)'),
 (1.0, 'Conception (2011)'),
 (1.0, 'I Am Wrath (2016)'),
 (1.0, 'Forsyte Saga, The (1967)'),
 (1.0, 'Far from the Madding Crowd (1967)'),
 (1.0, 'Life Itself (2014)'),
 (1.0, 'Thousand Clowns, A (1965)'),
 (1.0, 'Life Is Sweet (1990)'),
 (0.9986178293325099, "Rory O'Shea Was Here (Inside I'm Dancing) (2004)"),
 (0.9977851578566089, 'Spy Who Came in from the Cold, The (1965)'),
 (0.9977851578566089, 'Peyton Place (1957)'),
 (0.9970544855015816, 'Lassie Come Home (1943)'),
 (0.9970544855015816, 'Butterfield 8 (1960)'),
 (0.9970544855015816, 'Rose, The (1979)'),
 (0.9955070142257592, 'Faces of Death (1978)'),
 (0.9922778767136677, "You Don't Know Jack (2010)"),
 (0.9899494936611666, 'Nico Icon (1995)'),
 (0.9805806756909202, 'Spun (2001)'),
 (0.9647638212377322, 'Fourth Kind, The (2009)'),
 (0.9486832980505138, 'Q & A (1990)'),
 (0.9429903335828895, "I Can't Sleep (J'ai pas sommeil) (1994)"),
 (0.9309042866351903, 'Cannibal Holocaust (1980)'),
 (0.895017362844261, 'Kaboom (2010)'),
 (0.8931195655879672, 'Frankenhooker (1990)'),
 (0.8931195655879672, 'Brain Damage (1988)'),
 (0.8864052604279183, 'Need for Speed (2014)'),
 (0.8749572785196142, 'Kick-Ass 2 (2013)'),
 (0.8636538684187027, 'Furious 7 (2015)'),
 (0.8252346636934167, 'Monsieur Verdoux (1947)'),
 (0.8236526912895658, 'Mr. Nobody (2009)'),
 (0.8201995322647245, "We're the Millers (2013)"),
 (0.8179251129002985, 'Star Trek 3 (2016)'),
 (0.8111071056538127, 'Amityville: Dollhouse (1996)'),
 (0.8111071056538127, 'League of Ordinary Gentlemen, A (2004)'),
 (0.8111071056538127, 'Man with One Red Shoe, The (1985)'),
 (0.8090398349558905, 'Other Woman, The (2014)'),
 (0.8, 'Lost Son, The (1999)'),
 (0.8, 'Dear Jesse (1997)'),
 (0.8, 'Ashes of Time (Dung che sai duk) (1994)'),
 (0.8, 'Small Faces (1996)'),
 (0.8, 'Neighbors (1981)'),
 (0.8, 'Best Friends (1982)'),
 (0.8, 'Urban Cowboy (1980)'),
 (0.8, 'Taking Care of Business (1990)'),
 (0.8, 'Public Access (1993)'),
 (0.8, 'Hot Lead and Cold Feet (1978)'),
 (0.8, "Mike's Murder (1984)"),
 (0.8, 'Puppet Master (1989)'),
 (0.8, 'Kamikaze Girls (Shimotsuma monogatari) (2004)'),
 (0.8, 'Murder Party (2007)'),
 (0.8, 'Art of Negative Thinking, The (Kunsten å tenke negativt) (2006)'),
 (0.8, 'Arthur Christmas (2011)'),
 (0.795495128834866, 'Prom Night II (1987)'),
 (0.7826237921249264, 'Fright Night Part II (1988)'),
 (0.76271276980969, "Amityville 1992: It's About Time (1992)"),
 (0.7599500236604632, 'Sleepwalkers (1992)'),
 (0.7594632491572426, 'Godsend (2004)'),
 (0.7529411764705882, "Say It Isn't So (2001)"),
 (0.7525766947068778, 'Luther (2003)'),
 (0.7252406676228422, 'Lizzie McGuire Movie, The (2003)'),
 (0.7252406676228422, 'People Like Us (2012)'),
 (0.7252406676228422, 'You Again (2010)'),
 (0.7252406676228422, 'Buying the Cow (2002)'),
 (0.7252406676228422, 'Whatever It Takes (2000)'),
 (0.720294057598537, 'The Wedding Ringer (2015)'),
 (0.7158705108015654, 'Last Vegas (2013)'),
 (0.7071067811865476, 'Ride with the Devil (1999)'),
 (0.6986050651345606, 'Cujo (1983)'),
 (0.6918443971101331,
  'Lord of the Rings: The Fellowship of the Ring, The (2001)'),
 (0.6855829496241486, 'Last Boy Scout, The (1991)'),
 (0.6851682912924022, 'From the Hip (1987)'),
 (0.6829256772988759, 'Trick or Treat (1986)'),
 (0.6813100476940182, 'Wide Awake (1998)'),
 (0.68091399987986, 'Circus, The (1928)'),
 (0.6805132726560923, 'Battle: Los Angeles (2011)'),
 (0.6799694371758825, 'Clash of the Titans (1981)'),
 (0.6795464954588801, 'Limits of Control, The (2009)'),
 (0.6783738517974789, 'Murmur of the Heart (Le souffle au coeur) (1971)'),
 (0.6780848900243781, 'Paranoid Park (2007)'),
 (0.6744863573998758, 'Lord of the Rings: The Two Towers, The (2002)'),
 (0.6696611419850343, 'Urbania (2000)'),
 (0.6660185869803106, 'This Is 40 (2012)'),
 (0.6637567821895146, 'House Arrest (1996)'),
 (0.6615510298986681, 'Fugitive, The (1993)'),
 (0.6598133480242008, "They Shoot Horses, Don't They? (1969)"),
 (0.658784705772537, 'Monsters vs. Aliens (2009)'),
 (0.6567206798038655, 'Purge: Anarchy, The (2014)'),
 (0.6567206798038655, 'Observe and Report (2009)'),
 (0.6562782493232486, 'Dances with Wolves (1990)'),
 (0.6553850480248151, 'Private Benjamin (1980)'),
 (0.6548179670444805, 'Fight Club (1999)'),
 (0.6543109863774244, 'Days of Heaven (1978)'),
 (0.6535283631337219, 'Working Girl (1988)'),
 (0.6531972647421809, 'Salvation, The (2014)'),
 (0.6517756547736454, 'Back to the Future (1985)'),
 (0.6509445549041194, 'Zed & Two Noughts, A (1985)'),
 (0.6507913734559685, 'Art of the Steal, The (2013)'),
 (0.6507913734559685, 'Guilt Trip, The (2012)'),
 (0.650456104400796, 'Horrible Bosses (2011)'),
 (0.6481496117538345, '300: Rise of an Empire (2014)'),
 (0.6473578117598395, 'Lord of the Rings: The Return of the King, The (2003)'),
 (0.6469966392206304, 'Trailer Park Boys: Live at the North Pole (2014)'),
 (0.6363636363636364, 'Cold Souls (2009)'),
 (0.6359430726176826, 'True Lies (1994)'),
 (0.6329830179736028, 'King in New York, A (1957)'),
 (0.6312177850463978, 'Ip Man 2 (2010)'),
 (0.6280513676608314, 'Immigrant, The (1917)'),
 (0.6200159103530577, 'House of Mirth, The (2000)'),
 (0.6159295339918422, 'Jurassic Park (1993)'),
 (0.6157773662144537, 'Meet Me in St. Louis (1944)'),
 (0.6146746488183885, 'Glen or Glenda (1953)'),
 (0.6081287628658999,
  'Effect of Gamma Rays on Man-in-the-Moon Marigolds, The (1972)'),
 (0.6063600454744995, 'About Last Night... (1986)'),
 (0.6061215371144321, 'On the Town (1949)'),
 (0.603747621522063, 'Warrior (2011)'),
 (0.6035824683077655, 'Beasts of the Southern Wild (2012)'),
 (0.599218553302771, 'Ruthless People (1986)'),
 (0.5986753200065247, 'Batman (1989)'),
 (0.5982896850122317, 'Matrix, The (1999)'),
 (0.5952007797135321,
  "M. Hulot’s Holiday (Mr. Hulot's Holiday) (Vacances de Monsieur Hulot, Les) (1953)"),
 (0.5934256082142634, 'Crazy, Stupid, Love. (2011)'),
 (0.5928732053332988, 'Impossible, The (Imposible, Lo) (2012)'),
 (0.5916872117182091, 'Extract (2009)'),
 (0.5910537354421881, 'Golden Child, The (1986)'),
 (0.5908286826931113, 'Bad Teacher (2011)'),
 (0.5861240569525403, 'Gladiator (2000)'),
 (0.5856069333992345, 'Married to the Mob (1988)'),
 (0.5841722334303892, 'American Beauty (1999)'),
 (0.5810111285344381, 'Friday Night Lights (2004)'),
 (0.5806476580391742, 'Animal Kingdom (2010)'),
 (0.575559012347165, 'Get Him to the Greek (2010)'),
 (0.5754747097679492, 'Duel in the Sun (1946)'),
 (0.5731148628573212, 'Enough (2002)'),
 (0.5691809397272192, 'Dead Snow (Død snø) (2009)'),
 (0.5689945423921311, 'Glitter (2001)'),
 (0.5688801239885742, 'Frankie and Johnny (1966)'),
 (0.5688801239885742, 'Life or Something Like It (2002)'),
 (0.5683120447782106, 'Jeff, Who Lives at Home (2012)'),
 (0.5672402551730221, 'Poison (1991)'),
 (0.5670692778655735, 'Shane (1953)'),
 (0.5658694135475826, 'Husbands and Wives (1992)'),
 (0.5656939506585693, 'My Man Godfrey (1957)'),
 (0.5644767065651531, 'No Holds Barred (1989)'),
 (0.5636279894559666, 'Fight Club (1999)'),
 (0.5620858722885063, 'Pink Flamingos (1972)'),
 (0.5616559563017304, 'She Done Him Wrong (1933)'),
 (0.5616559563017304, 'Pride and Prejudice and Zombies (2016)'),
 (0.5590447265349537, 'Saving Private Ryan (1998)'),
 (0.5590169943749475, 'Ruby in Paradise (1993)'),
 (0.5588905920997788, 'Excalibur (1981)'),
 (0.5570860145311556, 'Sprung (1997)'),
 (0.5570860145311556, 'They (2002)'),
 (0.5564115195608383, 'Steal This Movie! (2000)'),
 (0.5537676574986775, 'Rocky IV (1985)'),
 (0.5513505347886132, 'Rock of Ages (2012)'),
 (0.5512918197861375, 'O (2001)'),
 (0.5483974091130899, 'Reds (1981)'),
 (0.5458795619218867, 'Push (2009)'),
 (0.5454545454545454, 'I Spit on Your Grave (Day of the Woman) (1978)'),
 (0.5454545454545454, 'Playing It Cool (2014)'),
 (0.5433280194033356, 'Funny Farm (1988)'),
 (0.5430753866417045, 'Abandon (2002)'),
 (0.5430753866417045, 'Troll in Central Park, A (1994)'),
 (0.5430753866417045, 'Gossip (2000)'),
 (0.5430753866417045, 'Trapped (2002)'),
 (0.5428283798011861, 'This Is 40 (2012)'),
 (0.5409788739821659,
  'Going Clear: Scientology and the Prison of Belief (2015)'),
 (0.539163866017192,
  'Godzilla vs. Mechagodzilla II (Gojira VS Mekagojira) (1993)'),
 (0.537375684354126, 'Crank: High Voltage (2009)'),
 (0.5321468517001672, 'Sunshine Cleaning (2008)'),
 (0.5302259235909039, 'Ernest Saves Christmas (1988)'),
 (0.5290043018464031, 'Five Easy Pieces (1970)'),
 (0.5286548803640719, 'Stunt Man, The (1980)'),
 (0.5285823662162995, 'Walk in the Clouds, A (1995)'),
 (0.5252257314388902, 'Disturbing Behavior (1998)'),
 (0.5246835833283212, 'Heist (2001)'),
 (0.523618777264662, 'China Syndrome, The (1979)'),
 (0.5213154930639434, 'Return of Swamp Thing, The (1989)'),
 (0.5205769772632286, 'Paranormal Activity 3 (2011)'),
 (0.5201498282767292, 'Weird Science (1985)'),
 (0.5200697058049341, 'Great Outdoors, The (1988)'),
 (0.5178624064284457, 'It Could Happen to You (1994)'),
 (0.5170766735259885, 'Red State (2011)'),
 (0.5160362434571155, 'Santa Sangre (1989)'),
 (0.5130098222763781, 'Murder by Numbers (2002)'),
 (0.5119489167111325, 'Dead Ringers (1988)'),
 (0.5106490438676932, 'Love Affair (1994)'),
 (0.5098970112045547, 'Topo, El (1970)'),
 (0.5097780830602638, 'Eye for an Eye (1996)'),
 (0.5084547390140569, 'Exorcist III, The (1990)'),
 (0.5065648444967468, 'One True Thing (1998)'),
 (0.5042986332124733, 'Topsy-Turvy (1999)'),
 (0.4939815374348817, 'Armed and Dangerous (1986)'),
 (0.4915391523114243, 'Moscow on the Hudson (1984)'),
 (0.48866445857936847, 'Tortilla Soup (2001)'),
 (0.4811252243246881, 'Spanking the Monkey (1994)'),
 (0.4797584047455424, 'O (2001)'),
 (0.4775483205886236, 'Mirror Has Two Faces, The (1996)'),
 (0.4768211198042104, 'Ladyhawke (1985)'),
 (0.47619047619047616, 'Groove (2000)'),
 (0.47548591374506266, 'My Own Private Idaho (1991)'),
 (0.47304991679126607, '*batteries not included (1987)'),
 (0.47104375467910437, 'Shakes the Clown (1992)'),
 (0.4674200941509938, 'Broadcast News (1987)'),
 (0.46250021873452246, 'Dark Crystal, The (1982)'),
 (0.4621855669179752, 'Little Miss Sunshine (2006)'),
 (0.4615663313770509, 'Into the Woods (1991)'),
 (0.45584230583855184, 'In the Army Now (1994)'),
 (0.4558423058385518, 'Drag Me to Hell (2009)'),
 (0.4543694673976518, "Babette's Feast (Babettes gæstebud) (1987)"),
 (0.4504479823851463, 'King Kong (1933)'),
 (0.44173360097779263,
  "Lemony Snicket's A Series of Unfortunate Events (2004)"),
 (0.4353285353294459, 'Crimes and Misdemeanors (1989)'),
 (0.43012687773323866, 'Beyond the Mat (1999)'),
 (0.4292225150310006, 'True Story (2015)'),
 (0.4264707168269062, 'Superbad (2007)'),
 (0.42152518971314057, 'Scott Pilgrim vs. the World (2010)'),
 (0.4140619455992457, 'Legally Blonde (2001)'),
 (0.39711238411063826, 'It Came from Hollywood (1982)'),
 (0.39018927285885885, 'Full Metal Jacket (1987)'),
 (0.37894736842105264, 'North (1994)'),
 (0.36860408645320114, 'Star Trek V: The Final Frontier (1989)'),
 (0.3622617780011092, 'Some Folks Call It a Sling Blade (1993)')]

In [147]:
print(len(list(filter(lambda x: x == 0, test_user))))
print(len(list(filter(lambda x: x == 1, test_user))))
print(len(list(filter(lambda x: x == 2, test_user))))
print(len(list(filter(lambda x: x == 3, test_user))))
print(len(list(filter(lambda x: x == 4, test_user))))
print(len(list(filter(lambda x: x == 5, test_user))))

8975
30
30
30
30
30